.form__phone {
  border: 0.9px solid var(--input-border-color);
  background-color: transparent;
  border-radius: var(--input-border-radius);
  height: calc(51px - 2 * 14.6px);
  padding: 15.5px 14.6px;
  color: var(--title-color);
  font-weight: var(--font-weigth-s);
  font-size: var(--text-size);
  line-height: 1.45;
}

.form__phone:focus {
  outline: none !important;
  border: 1px solid var(--orange-color);
}