.form__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .form__container:nth-child(1) {
  gap: 0;
} */

.form__container:nth-child(4) {
  border-bottom: 1.3px solid var(--separator-border-color);
  padding-bottom: 25px;
}