.root {
  --title-color: #FFFFFF;
  --text-color: #C2C2C2;
  --disabled-titel-color: #ABADBA;
  --input-border-color: #C2C2C2;
  --orange-color: #FF6900;
  --disabled-button-color: #E2E2E9;
  --separator-border-color: rgba(255, 255, 255, .2);
  --title-size: 53px;
  --text-size: 15px;
  --counter-size: 10.5px;
  --footer-info-size: 14px;
  --footer-copyright-size: 16px;
  --button-text-size: 17px;
  --paragraph-size: 12px;
  --popup-text-size: 14px;
  --font-weigth-s: 400;
  --input-border-radius: 11.5px;
  --text-opacity: .7;
  background: #1A1A1A;
  position: relative;
}