.header__pizza-image {
  position: absolute;
  width: 134px;
  height: 200px;
  top: 17px;
  right: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 320px) {
  .header__pizza-image {
    width: 115px;
    height: 171px;
  }
}