.form__terms-label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  width: 90%;
  font-weight: var(--font-weigth-s);
  font-size: var(--paragraph-size);
  line-height: 1.33;
  color: var(--text-color);
  margin: 0;
  opacity: var(--text-opacity);
}

.form__terms-label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid var(--orange-color);
  border-radius: 4.8px;
  cursor: pointer;
}

.form__terms-label::after {
  content: "";
  background-image: url(../../../images/terms-checked.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 3px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 12.4px;
  height: 10.3px;
  background-size: contain;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear;
}

.form__terms:checked + .form__terms-label::after {
  visibility: visible;
  opacity: 1;
}

.form__terms:checked + .form__terms-label::before {
  background-color: var(--orange-color);
}
