.review__definition {
  margin: 16px 0 0;
  color: var(--title-color);
  font-weight: var(--font-weigth-s);
  font-size: var(--text-size);
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 320px) {
  .review__definition {
    font-size: calc(var(--text-size) * .86);
    margin: calc(16px * .86) 0 0;
  }
}