.form__comment {
  resize: none;
  height: 58px;
  border-radius: var(--input-border-radius);
  border: 0.9px solid var(--input-border-color);
  padding: 15px 15px;
  background-color: transparent;
  color: var(--title-color);
  font-weight: var(--font-weigth-s);
  font-size: var(--text-size);
  line-height: 1.45;
}

.form__comment::placeholder {
  color: var(--text-color);
}

.form__comment:focus {
  outline: none !important;
  border: 1px solid var(--orange-color);
}