.footer__info-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer__info-items {
    gap: 7px;
  }
}